*.bat           text
*.css           text
*.coffee        text
*.csv           text
*.df            text
*.dicon         text
*.ejs           text
*.haml          text
*.htm           text
*.html          text
*.jade          text
*.java          text
*.jrxml         text
*.js            text
*.json          text
*.jsp           text
*.jspf          text
*.less          text
*.log           text
*.md            text
*.php           text
*.pl            text
*.pm            text
*.properties    text
*.py            text
*.rb            text
*.sass          text
*.scss          text
*.sh            text
*.sql           text
*.styl          text
*.svg           text
*.tld           text
*.tsv           text
*.txt           text
*.wsdl          text
*.xml           text
*.yml           text
*.yaml          text
.gitattributes  text
.gitconfig      text
.gitignore      text
.htaccess       text
LICENSE         text
AUTHORS         text

*.class         binary
*.dll           binary
*.ear           binary
*.exe           binary
*.gif           binary
*.gz            binary
*.ico           binary
*.jar           binary
*.jasper        binary
*.jpg           binary
*.jpeg          binary
*.pdf           binary
*.png           binary
*.so            binary
*.tar           binary
*.tif           binary
*.tiff          binary
*.ttc           binary
*.ttf           binary
*.war           binary
*.zip           binary

