*.bat           text eol=lf
*.css           text eol=lf
*.coffee        text eol=lf
*.csv           text eol=lf
*.df            text eol=lf
*.dicon         text eol=lf
*.ejs           text eol=lf
*.haml          text eol=lf
*.htm           text eol=lf
*.html          text eol=lf
*.jade          text eol=lf
*.java          text eol=lf
*.jrxml         text eol=lf
*.js            text eol=lf
*.json          text eol=lf
*.jsp           text eol=lf
*.jspf          text eol=lf
*.less          text eol=lf
*.log           text eol=lf
*.md            text eol=lf
*.original      text eol=lf
*.php           text eol=lf
*.pl            text eol=lf
*.pm            text eol=lf
*.properties    text eol=lf
*.py            text eol=lf
*.rb            text eol=lf
*.sass          text eol=lf
*.scss          text eol=lf
*.sh            text eol=lf
*.sql           text eol=lf
*.styl          text eol=lf
*.svg           text eol=lf
*.tag           text eol=lf
*.tld           text eol=lf
*.tsv           text eol=lf
*.txt           text eol=lf
*.wsdl          text eol=lf
*.xml           text eol=lf
*.yml           text eol=lf
*.yaml          text eol=lf
.gitattributes  text eol=lf
.gitconfig      text eol=lf
.gitignore      text eol=lf
.htaccess       text eol=lf
LICENSE         text eol=lf
AUTHORS         text eol=lf

*.class         binary
*.dll           binary
*.ear           binary
*.exe           binary
*.gif           binary
*.gz            binary
*.ico           binary
*.jar           binary
*.jasper        binary
*.jpg           binary
*.jpeg          binary
*.pdf           binary
*.png           binary
*.so            binary
*.tar           binary
*.tif           binary
*.tiff          binary
*.ttc           binary
*.ttf           binary
*.war           binary
*.zip           binary

