[user]
	name = eichisanden
	email = eichisanden@users.noreply.github.com
[color]
	ui = auto
[core]
	autocrlf = false
	eol = lf
[merge]
	ff = false
[push]
	default = upstream
[pull]
	rebase = preserve
